<!-- This file demonstrates the use of SURF features for online SLAM with a Kinect.
     The openni driver has to be started seperately -->
<launch>
  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true"> 
    <!-- Input data settings-->
    <param name="config/topic_image_mono"              value="/rgb_downsampled/image_raw"/> <!--could also be color -->
    <param name="config/topic_image_depth"             value="/depth_registered/points_image"/>
    <param name="config/topic_points"                  value="/depth_registered/points"/> <!--if empty, poincloud will be reconstructed from image and depth -->

    <param name="config/feature_detector_type"         value="SURF"/><!-- If SIFTGPU is enabled in CMakeLists.txt, use SURF here -->
    <param name="config/feature_extractor_type"        value="SURF"/><!-- If SIFTGPU is enabled in CMakeLists.txt, use SURF here -->
    <param name="config/nn_distance_ratio"             value="0.95"/> <!-- Feature correspondence is valid if distance to nearest neighbour is smaller than this parameter times the distance to the 2nd neighbour -->
    <param name="config/max_keypoints"                 value="600"/><!-- Extract no more than this many keypoints (not honored by SIFTGPU)-->
  </node>
</launch>
